body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 1.2em;    
}
table.form {
    margin: 25px 0 0 29px;
    border-collapse: collapse;
}
table.form {
    vertical-align: middle;
}
table.form th, table.form td {
    font: 1.2em Georgia, 'Times New Roman', Times, serif;
    padding: 4px 5px;
    text-align: left;
    font-weight: normal;
}
table.form th label, table.form td label {
    color: #181818;
    margin-right: 12px;
}
table.form td span {
    font-size: 0.9em;
    color: #181818;
    margin-left: 8px;
}
table.form td samp {
    font: 1.2em Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}
table.form input {
    width: 340px;
}
table.form textarea {
    width: 400px;
    height: 160px;
}
table.form textarea, table.form input.text-input {
    border: 2px solid #838383;
    padding: 3px 2px;
    font: 1.3em Georgia, 'Times New Roman', Times, serif;
}
table.form th.pesan {
    vertical-align: top;
}
table.form th.invisible {
    visibility: hidden;
}
table.form td.submit-button-right {
    text-align: right;
}
table.form input.submit-text {
    font: 1.3em Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    width: auto;
}
