#menu {
    position: relative;
    width: 100%;
    background-color: #f00;
    border: 1px solid #0000ff;
}
#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu ul li {
    float: left;
}
#menu ul li a {
    float: left;
    color: #0f6b03;
    padding: 10px;
    border-right: 1px solid #0f6b03;
    text-decoration: none;
    
}