#menu {
    float: left;
    width: 100%;
    height: 4em;
    background: #25509f;
}
#menu a {
    float: left;
    width: 8em;
    padding: 5px 10px 5px 10px;
    font-size: 0.6em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #666;
    border-bottom: 2px solid #333;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}
#menu a:hover, #menu a.active {
    padding-top: 10px;
    background-color: #333;
}
#menu a.lastMenuItem {
    background-repeat: no-repeat;
    background-position: top right;
    border-right: 0px;
}
a .rov {
    display: none;
    text-transform: lowercase;
    color: #fc0;
}
a:hover .rov, .active .rov {
    display: block;
}