body {
    background-color: blanchedalmond;
    color: brown;
}
#layout {
    float: none;
    width: 800px;
}
#left {
    float: left;
    width: 150px;
    color: brown;
}
#main {
    float: left;
    width: 640px;
    border-style: dotted;
}
